* {margin: 0;padding: 0;}
ul,ol,li{list-style: none;}
a {text-decoration: none;color: #fff;}
.fl{float: left;}
.fr{float: right;}
.fc{clear: both;}
.dn{display: none;}
.db{display: block;}
input,textarea{
    border:none;
    outline: none;
}
.single{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.double{
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.wrap {
    min-width: 320px;
    max-width: 640px;
    width: 100%;
    font-family: "Microsoft YaHei";
    margin: 0px auto;
    font-size: 16px;
    /*display: none;*/
}
