<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="webConnectionString" connectionString="Data Source=.;Initial Catalog=root;User ID=sa;Password=123;Pooling=true;MAX Pool Size=30;Min Pool Size=5;Connection Lifetime=33330;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
		<httpRuntime requestValidationMode="2.0" maxRequestLength="102400"/>
	</system.web>
</configuration>
