
.left{width:750px;float:left;}
.right{width:235px;float:left;margin-left:15px;}


.div{float:left;;background:#F8E4ED;position:relative;overflow:hidden}
	
	A.angel{;overflow:hidden;width:100%;height:100%;float:left;TEXT-DECORATION: none;}
	A.angel img{position:absolute;border:none}
	
	
.ul_mm{position:relative;list-style:none;width:750px;margin:0px;padding:0px;margin-left:13px}
.li_mm{width:160px;float:left;margin-left:10px;margin-right:10px;;position:relative;height:250px}	
	
.mm_cover{width:160px;height:160px;float:left;position:absolute;left:0px;top:0px;
font-size:13px; TEXT-DECORATION: none;color:#000;text-align:center}


.mm_cover_chat{width:100%;height:30px;line-height:30px;position:absolute;left:0px;top:130px;
background:#E66995;color:#fff;
-moz-border-radius: 6px;    -webkit-border-radius: 6px;  border-radius:6px; 
}
.mm_bg{width:100%;height:100%;position:absolute;left:0px;top:0px;background:#222;
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=40);opacity:0.4;
-moz-border-radius: 6px;    -webkit-border-radius: 6px;  border-radius:6px; 
}

.mm_bg2{width:100%;height:100%;position:absolute;left:0px;top:0px; -moz-border-radius: 6px;    -webkit-border-radius: 6px;  border-radius:6px; }
	

A.a_mm{ FONT-SIZE: 13px; COLOR:#0579C6; TEXT-DECORATION: none;}
A.a_mm:hover{ TEXT-DECORATION: underline}


A.a_mmhead{float:left;overflow:hidden;TEXT-DECORATION: none;text-align:center;font-size:0px;line-height:0px;
-moz-border-radius: 6px;    -webkit-border-radius: 6px;  border-radius:6px; }
A.a_mmhead:hover{}


A.a_mmhead2{float:left;overflow:hidden;TEXT-DECORATION: none;text-align:center;font-size:0px;line-height:0px;
-moz-border-radius: 6px;    -webkit-border-radius: 6px;  border-radius:6px; }
A.a_mmhead2:hover{}
.mmhead{border:none;width:160px;height:160px;}


.mmAddress{text-align:center;width:100%;height:26px;line-height:26px;float:left;font-size:13px;color:#6d6e71}
.mmPrice{width:100%;height:26px;line-height:26px;float:left;font-size:13px;color:#999}
.mmState{margin-top:8px;width:168px;height:33px;line-height:33px;float:left;font-size:13px;}

.mmGreen{font-size:13px;color:#53A000;}


.video{margin-left: 5px;TEXT-DECORATION: none;font-size:0px;
width: 18px;
height: 24px;
float: left;
background: url(/images/p/seeVideo.png?t=2) no-repeat 0px 0px;position:absolute;left:140px;top:225px}

.video:hover{background: url(/images/p/seeVideo.png?t=3) no-repeat 0px -25px;}
.more{
width:100%;height:40px;line-height:40px;float:left;
background:url(/images/p/loading2.gif)  no-repeat 430px 4px;
text-align:center;font-size:14px;color:#333;
}




.state_free{width:80px;height:25px;line-height:25px;float:right; TEXT-DECORATION: none;background:#5FB52A;
color:#fff;border-radius: 2px;font-family:宋体;text-align:center;
text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
font-weight: 400;font-size:13px;}

.state_free:hover{background:#6FC53A}


.state_notime{cursor:default;width:80px;height:25px;line-height:25px;float:right; TEXT-DECORATION: none;background:#F4F4E8;
color:#AAA89C;border-radius: 2px;font-family:宋体;text-align:center;
font-weight: 400;font-size:13px;}




.state_chatting{cursor:default;width:80px;height:25px;line-height:25px;float:right; TEXT-DECORATION: none;background:#FD9700;
color:#fff;border-radius: 2px;font-family:宋体;text-align:center;
text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
font-weight: 400;font-size:13px;}



.state_flash{width:80px;height:25px;line-height:25px;float:right; TEXT-DECORATION: none;background:url(/images/p/menu_angel.png) #DB3652 no-repeat 6px -230px;;
color:#fff;border-radius: 2px;font-family:宋体;text-align:center;
text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
font-weight: 400;font-size:13px;text-indent:10px;}

.state_flash:hover{background-color:#EA4163}

/*-------------------top----------------------*/



