<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="mysql" connectionString="Database='empirecms';Data Source='localhost';User Id='root';Password='';charset='utf8';pooling=true;Old Guids=true;" />
  </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
    <system.webServer>
        <directoryBrowse enabled="true" />
    </system.webServer>

</configuration>
